*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
  font-family: 'Roboto', sans-serif;
  /* background: #4d5e70; */
}

/* ++++++++++++++++++++++++++++++ header  +++++++++++++++++++++++++++++++++++++ */

.header-container {
  min-height: 100vh;
  min-width: 100vw;
  background: url('../img/bg/2.jpg') transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container_main {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background: rgba(33, 49, 65, 0.4);
}

.contact {
  display: flex;
  text-align: center;
  align-items: center;
  min-height: 70px;
  border-bottom: 1px solid rgba(236, 247, 255, .3);
}

.contact-element {
  min-width: 33.33%;
  min-height: 100%;
  border-right: 1px solid rgba(236, 247, 255, .3);
  background-image:
  radial-gradient(1px 45% at 0% 50%, rgba(236, 247, 255, .3), transparent),
  radial-gradient(1px 45% at 100% 50%, rgba(236, 247, 255, .3), transparent); 
}
.contact-element a{
  color: #e9f0f9;
  font-size: 19px;
  font-weight: 300;
}
.contact-element span {
  color: #8999aa;
}
.contact-element .fa-solid {
  margin-right: 10px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  min-width: 100%;
}
.logo {
  position: relative;
  margin-left: -45px;
}
.logo img {
  max-width: 150px;
  background-position: center;
}
.navigation-element {
  display: flex;
  align-self: flex-start;
  margin-top: 15px;
}
.navigation-element a {
  color: #e9f0f9;
  font-size: 19px;
  font-weight: 400;
  margin-right: 30px;
  text-transform: uppercase;
}
.fa-chevron-up {
  margin-left: 10px;
  font-size: 15px;
  transform: rotate(180deg);
  padding-top: 2px;
  transition: 1.2s;
}
.navigation-element_dropdown:hover .fa-chevron-up {
  transform: rotate(0deg);
}

.navigation-element_dropdown {
  position: relative;
}
.navigation-element_dropdown:hover .div_navigation-element_sub-menu__list {
  display: flex;
  animation: downMenu 1s ease-in-out forwards;
}
@keyframes downMenu {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}

.div_navigation-element_sub-menu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 14px;
  padding-top: 20px;
  z-index: 10;
  min-height: 470px;
}

.navigation-element_sub-menu__list-1 {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color: rgba(33, 49, 65);
}
.navigation-element_sub-menu__list-2 {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color: rgba(33, 49, 65);
}
.navigation-element_sub-menu-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  min-width: 100%;
  min-height: 65px;
  border: 2px solid #566675;
}
.navigation-element_sub-menu-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  min-width: 100%;
  min-height: 65px;
  border: 2px solid #566675;
}
.navigation-element_sub-menu-1 a {
  display: block;
  text-align: center;
  margin: 0;
}
.navigation-element_sub-menu-2 a {
  display: block;
  text-align: center;
  margin: 0;
}

.search {
  position: relative;
  width: 30px;
  height: 40px;
  transition: all 0.5s cubic-bezier(.68, -0.55, .265, 1.55);
}
.search.active {
  width: 310px;
  left: -50px;
}
.search-input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background: #f7ffff;
  padding: 0 60px 0 20px;
  opacity: 0;
}
.search-input.active {
  opacity: 1;
}
.search .search-btn {
  position: absolute;
  width: 34px;
  height: 34px;
  background: #213141 linear-gradient(#4682B4, #213141);
  border-radius: 10px;
  color: #f7ffff;
  font-size: 15px;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
  right: 3px;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(.68, -0.55, .265, 1.55);
}
.search .search-btn.active {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5px;
  width: 34px;
  height: 34px;
  background: #f7ffff;
  color: #213141;
  transform: translateY(-50%) rotate(360deg);
} 
.search .cancel-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #f7ffff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(.68, -0.55, .265, 1.55);
}
.search .cancel-btn.active {
  right: -30px;
  transform: translateY(-50%) rotate(360deg);
}

.title {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
}

.title h1 {
  color: #f7ffff;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title a {
  position: relative;
  bottom: 50px;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-transform: lowercase;
  user-select: none;
  padding: 15px 25px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #213141 linear-gradient(#4682B4, #213141);
  box-shadow: inset #191970 0 -1px 1px, inset 0 1px 1px #483D8B, #4d5e70 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 2.5s linear infinite;
}
.title a:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
.title a:active {
  top: 1px;
  color: #f7ffff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #f7ffff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #4d5e70, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #f7ffff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #f7ffff;}
}
@keyframes pulsate {
  50% {color: #e9f0f9; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #e9f0f9;}
}

.main-navigation {
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-navigation p {
  color: #e9f0f9;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 200;
  text-transform: uppercase;
  max-width: 100%;
  margin-top: 10px;
}

.fa-layer-group, .fa-business-time, .fa-sheet-plastic, .fa-user-graduate, .fa-graduation-cap, .fa-chart-column {
  font-size: 50px;
  color: #e9f0f9;
  transition: .5s;
}
.main-navigation_check:hover  .fa-solid{
  transform: scale(1.3);
}